html,
body,
#root {
  font: 0.9rem sans-serif;
  background: #0f131b;
  color: #ffffff;
  height: 100%;
  margin: 0;
}

input,
select,
textarea {
  color: #ffffff;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    url('./bg.webp');
  background-size: cover;
  background-position: center;
}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(12, 12, 12, 0.85);
}

div.css-yk16xz-control {
  border-style: none;
  background-color: transparent;
}

div.css-g1d714-ValueContainer {
  background-color: transparent;
}

.search-container {
  outline: none;
  width: 250px;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(12, 12, 12, 0.85);
}

.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(12, 12, 12, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(22, 22, 22, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

div.min_max_temp p{
  display: inline-flex;
  text-transform: lowercase;
  padding: 0.5rem;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #dfdfdf;
  text-align: center;
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
  color: #fff;
}

.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
