html,
body,
#root {
  font: 0.9rem Helvetica, sans-serif;
  background: #ffffff;
  color: #000000;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

input,
select,
textarea {
  color: #202020;
}

/* REact Spring   */
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9 {
  width: 25ch;
  height: 25ch;
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146880.svg);
}
.card2 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146870.svg);
}
.card3 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146856.svg);
}
.card4 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146858.svg);
}
.card5 {
  background-image: url(https://image.flaticon.com/icons/svg/979/979585.svg);
}
.card6 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146915.svg);
}
.card7 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146887.svg);
}
.card8 {
  background-image: url(https://image.flaticon.com/icons/svg/3542/3542428.svg);
}
.card9 {
  background-image: url(https://image.flaticon.com/icons/svg/1146/1146878.svg);
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgb(0, 255, 255), rgba(46, 170, 253, 0.795));
}
/* end of React Spring */

.search {
  text-align: center;
  z-index: 1;
  outline: none;
  padding: 20px 7%;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(255, 255, 255, 0.568);
  box-shadow: 10px 10px 5px 0px rgba(189, 189, 189, 0.404);
}

div.css-yk16xz-control {
  border-style: none;
  background-color: transparent;
}

div.css-g1d714-ValueContainer {
  background-color: transparent;
}

.city {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.226);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.781);
}

.city sup {
  font-size: 0.5em;
}

.city-name {
  font-size: 2em;
}

.city-name sup {
  padding: 0.2em 0.6em;
  margin-left: 0.2em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #221e1e;
  text-align: center;
}

.feels-like{
  padding-bottom: 3px;
}

div.min_max_temp p {
  display: inline-flex;
  text-transform: lowercase;
  /* padding: 0.5rem; */
}

p {
  margin-top: 5px;
  margin-bottom: 0px;
  letter-spacing: 0.02em;
}

.weather_description{
  text-transform: uppercase;
  font-weight: bold;
  
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7,
  .card8,
  .card9 {
    position: fixed;
    overflow: hidden;
  }

  .search {
    padding: 20px 15%;
  }

  .city {
    padding: 40px 20%;
  }
}
